<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo List App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<body>
    {% block body %}{% endblock %}
</body>
<footer>
    <p>&copy; {{ current_year }} Todo List App</p>
</footer>
</html>
